<div class="todo-item">
    <title>{{todoListObject.title}}</title>
    <p class="desc">{{todoListObject.description}}</p>
    <p>{{todoListObject.time}}</p>
    <p>Status : <span>{{todoListObject.status}}</span></p>
</div> 
{{yield}}
